doctype
html(class="no-js")
	head
		title Integration Kickstarter
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1')

		block scripts
			script(type="text/javascript" src='./javascript/fallback.min.js')
			script(type="text/javascript").
				var fallback = fallback || false;
				if(fallback) {
					fallback.load({
						stylesheet : "./stylesheet/main.css",
						javascript : ["./javascript/bundle.js", "./javascript/main.min.js"]
					});
					fallback.ready(function () {
						layoutDefaultScript.call();
					});
				}

body
	.layout-default-body-wrapper
		block body