layout_sectionWidth = 1800px
layout_containerWidth = 1100px
layout_tablet_containerWidth = (1376px / 2)
layout_mobile_containerWidth = 100%

layout_centeredBlock(width = layout_containerWidth)
	display block
	margin auto
	max-width 90%
	width width
	
layout_container(device = 'desktop')
	if device == 'desktop'
		layout_centeredBlock layout_containerWidth
	else if device == 'tablet'
		layout_centeredBlock layout_tablet_containerWidth
	else if device == 'mobile'
		layout_centeredBlock layout_mobile_containerWidth

layout_section(device = 'desktop')
	display block
	margin auto
	max-width 100%
	width layout_sectionWidth

layout_grid(selector, blockSelector, baseWidth, numberOfColumns, gutter, rowGutter = 0, gutterProperty = 'margin')
	numberOfGutter = (numberOfColumns - 1)
	availableWidth = baseWidth - (numberOfGutter*gutter)
	baseColumnWidth = availableWidth / numberOfColumns
	
	columnWidth = ((baseColumnWidth / baseWidth) * 100%)
	gutterWidth = ((gutter / baseWidth) * 100%)

	{selector}
		display block
		clearfix()
		max-width 100%
		
		{blockSelector}
			display block
			float left
			width columnWidth
			{gutterProperty}-bottom rowGutter
			
			+{blockSelector}
				{gutterProperty}-left gutterWidth

			&:nth-child({numberOfColumns}n+1)
				{gutterProperty}-left 0
			
			for index in (1..(numberOfColumns))
				&:nth-child({numberOfColumns}n+{index})
					&:nth-last-child(-n+{(numberOfColumns - index + 1)})
						{gutterProperty}-bottom 0
			
/*-----------*/
/*--classes--*/
/*-----------*/

.container
	layout_container()

.section
	layout_section()