device_restrained-height()
	@media screen and (max-height: 750px)
		{block}


/*-------------------------*/

.tablet
	.on-desktop, .on-mobile
		display none

.desktop
	.on-tablet, .on-mobile
		display none
	
.mobile
	.on-desktop, .on-tablet
		display none