mainFontSize = 16px

html
	font-size mainFontSize

font_remSize(sizeValue = 16)
	font-size : sizeValue px
	font-size : (sizeValue/mainFontSize)rem

font_base(fontName, size = 16, transform = false)
	font-family fontName
	font_remSize size
		
	if transform
		text-transform transform