_image_options_default_device_list = 'desktop' 'tablet' 'mobile'

image_options = {
	retinaImage : true,
	defaultDevice : 'desktop'
}

spritesheet(
	spritesheetName,
	width,
	height = width,
	deviceList = null,
	retinaImage = image_options.retinaImage,
	defaultDevice = image_options.defaultDevice
)
	background-repeat no-repeat
	
	if retinaImage
		image(imagePath(spritesheetName, defaultDevice), width, height)
	else
		background-image : url(imagePath(spritesheetName, defaultDevice))
	
	if deviceList
		for deviceName, deviceSize in deviceList
			+device(deviceName)
				if retinaImage
					image(imagePath(spritesheetName, deviceName), deviceSize.width, deviceSize.height)
				else
					background-image : url(imagePath(spritesheetName, deviceName))

/*---------------------------*/

spritesheet-part(width, height = width, x = 0, y = x)
	shape_block(width, height)
	background-position : (- x) (- y)

sprite(width, height = width, col = 0, row = 0)
	spritesheet-part(width, height, (( col * width )px), (( row * height )px))
	
/*---------------------------*/

picto(imageName, width, height = width, deviceList = null, retinaImage = image_options.retinaImage, defaultDevice = image_options.defaultDevice)
	spritesheet(imageName, width, height, deviceList, retinaImage, defaultDevice)
	shape_block(width, height)
	
	if deviceList
		for deviceName, deviceSize in deviceList
			+device(deviceName)
				shape_block(deviceSize.width, deviceSize.height)

/*--------------------------*/

logo(imageName, width, height = width, deviceList = null, retinaImage = image_options.retinaImage, defaultDevice = image_options.defaultDevice)
	picto(imageName, width, height, deviceList, retinaImage, defaultDevice)