@import 'nib'
@import 'jeet'

global-reset()

@import '../lib/stylus/*.styl'

@import '../component/*/*.styl'
@import '../page-block/*/*.styl'
@import '../layout/*/*.styl'
@import '../page/*/*.styl'

@import './catchall-file.styl'
@import './dirty-fix.styl'

body
	background green