element-top-info(selector)
	{selector}
		display block
		font_avenirBlack 16
		color color_orange
		
	.tablet, .mobile
		{selector}
			font_avenirBlack 12

element-top-info-link(selector)
	element-top-info(selector)
	
	{selector}
		button_link color_orange color_orange underline

/*-------------------------------*/

element-title(selector)
	{selector}
		display block
		font_playfair 26
		color color_blackBlue

	.tablet, .mobile
		{selector}
			font_playfair 22

element-title-link(selector)
	element-title(selector)
	{selector}
		button_link color_blackBlue color_blackBlue underline
		
element-chapo(selector)
	element-title(selector)
	{selector}
		line-height 1.2em	
			
/*-------------------------------*/

element-content-text(selector)
	{selector}
		display block
		font_avenirLight 16
		color color_blackBlue
		line-height 1.4em

	.tablet, .mobile
		{selector}
			font_avenirLight 12

element-content-text-link(selector)
	element-content-text(selector)
	{selector}
		button_link color_blackBlue color_blackBlue underline

/*--------------------------------*/

content-chapo(selector)
	{selector}
		font_playfair 26
		color color_blackBlue
		margin-bottom 40px
		
	.tablet, .mobile
		{selector}
			font_playfair 22
			margin-bottom 20px

content-paragraphe(selector)
	{selector}
		font_avenirLight 16
		line-height 1.4em
		color color_blackBlue
		margin-bottom 35px
	
	.tablet, .mobile
		{selector}
			font_avenirLight 12
			margin-bottom 20px
			
content-list-label(selector)
	{selector}
		line-height 1.3em
		font_avenirHeavy 16
		color color_blackBlue
	ul+{selector}
		margin-top 38px
		
	.tablet, .mobile
		{selector}
			font_avenirHeavy 12
		
		ul+{selector}
			margin-top 22px
			

content-list-element(selector)
	{selector}
		line-height 1.1em
		font_avenirLight 16
		color color_blackBlue
		margin-top  15px
	
	.tablet, .mobile
		{selector}
			font_avenirLight 12
			margin-top 5px

/*-------------------------------*/

hashtag-title(selector)
	{selector}
		display block
		font_avenirBlack 40
		color color_blackBlue
		letter-spacing 1px
		line-height 1.4em
		text-align center
		text-transform lowercase
		background-color white
		
		&:before
			content "#"
			margin-right 1px
			font_avenirBlack 40
			color color_blackBlue

	.tablet, .mobile
		{selector}
			font_avenirBlack 25
			
			&:before
				font_avenirBlack 25

.full-width-slider
	.slick-list
		overflow visible !important