shape_block(width = false, height = false)
	display block
	
	if width
		width width
	
	if height
		height height
	
shape_color(color = false)
	if color
		background-color color

shape_rect(width, height, color = false)
	shape_block(width, height)
	shape_color color

shape_square(size, color = false)
	shape_rect size size color
	
shape_circle(size, color = false)
	shape_square size color
	border-radius 50%